<html>
    <header>
        <title> blog</title>
        <link rel ="stylesheet" type="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    </header>
    
    <body>
        <p> Hello from header </p>
    